  /* Configurações gerais do Header */

  header {
      width: 100%;
      background: var(--color-base-800);
      position: fixed;
      top: 0;
      left: 0;
      z-index: 9999;
      transition: .3s;
  }

  .container-header {
      max-width: 1400px;
      margin: auto;
      padding: 0 40px;
      height: 90px;
      display: flex;
      align-items: center;
      justify-content: space-between;
  }

  .logo img {
      width: 135px;
      display: block;
      cursor: pointer;
  }

  /* ===========================================
                Menu Desktop
  ============================================ */
  .menu-desktop {
      display: flex;
      align-items: center;
  }

  .menu-desktop ul {
      display: flex;
      align-items: center;
      gap: 35px;
      list-style: none;
      margin: 0;
      padding: 0;
  }

  .menu-desktop ul li {
      display: flex;
      align-items: center;
  }

  .menu-desktop ul li a {
      text-decoration: none;
      color: var(--color-text-white);
      display: flex;
      align-items: center;
      gap: 8px;
      font-size: 15px;
      font-weight: 400;
      transition: .3s ease;
      position: relative;
  }

  /* ===========================================
                Configurações Links
  ============================================ */

  .menu-desktop ul li a i,
  .menu-desktop ul li a svg {
      color: var(--color-base-400);
      transition: .3s ease;
  }

  /* hover */

  .menu-desktop ul li a:hover {
      color: var(--color-text-purewhite);
  }

  /* ÍCONE MAIS ILUMINADO NO HOVER */

  .menu-desktop ul li a:hover i,
  .menu-desktop ul li a:hover svg {
      color: var(--color-base-300);
  }

  /* Linha abaixo de link em tom dourado */

  .menu-desktop ul li a::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -6px;
      width: 0%;
      height: 1px;
      background: var(--color-base-400);
      transition: .3s ease;
  }

  .menu-desktop ul li a:hover::after {
      width: 100%;
  }

  /* ===========================================
                Barra de Pesquisa
  ============================================ */

  .search-area {
      display: flex;
      align-items: center;
      gap: 20px;
  }

  .search-box {
      width: 220px;
      height: 40px;
      border: 1px solid var(--color-base-400);
      border-radius: 30px;
      display: flex;
      align-items: center;
      overflow: hidden;
  }

  .search-box input {
      width: 100%;
      height: 100%;
      border: none;
      outline: none;
      background: transparent;
      color: var(--color-text-white);
      padding: 0 15px;
  }

  .search-box input::placeholder {
      color: var(--color-text-white);
  }

  .search-box button {
      width: 50px;
      height: 100%;
      border: none;
      background: transparent;
      color: var(--color-base-400);
      cursor: pointer;
  }

  /* ===========================================
                     Bandeiras
  ============================================ */
  .flags {
      display: flex;
      align-items: center;
      gap: 8px;
  }

  .flags img {
       width: 28px;
    height: 20px;
    object-fit: cover;
    display: block;
    cursor: pointer;
    border-radius: 3px;
  }

  /* ===========================================
                    Menu mobile
  ============================================ */

  .menu-toggle {
      display: none;
      font-size: 30px;
      color: var(--color-base-400);
      cursor: pointer;
      z-index: 10001;
  }

 .mobile-menu{
    position: fixed;
    top: 0;
    right: -280px; /* esconde totalmente */
    width: 280px;
    height: 100vh;
    background: var(--color-base-800);
    transition: .4s ease;
    padding: 30px;
    z-index: 10000;
}

.mobile-menu.active{
    right: 0;
}

  /* botão de fechar */
  .mobile-menu .close-btn {
      text-align: right;
      margin-bottom: 50px;
  }

  /* Icon */
  .mobile-menu .close-btn i {
      font-size: 45px;
      color: var(--color-base-400);
      cursor: pointer;
  }
  /* ===========================================
            Bandeiras Mobile
=========================================== */

.flags-mobile{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;

    margin-top: 50px;
}

.flags-mobile img{
    width: 32px;
    height: 22px;
    object-fit: cover;
    border-radius: 4px;
    cursor: pointer;
}

  /* container de links menu mobile */
  .mobile-menu ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 40px;
      align-items: center;
  }

  /* links do menu */
  .mobile-menu ul li {
      width: 100%;
  }

  /* links do mobile */
  .mobile-menu ul li a {
      text-decoration: none;
      color: var(--color-text-white);
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 15px;
      transition: .3s ease;
      position: relative;
  }

  /* código para linha amarela animada */

  .mobile-menu ul li a::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: -8px;
      transform: translateX(-50%);
      width: 0%;
      height: 1px;
      background: var(--color-base-400);
      transition: .3s ease;
  }

  .mobile-menu ul li a:hover::after {
      width: 100%;
  }

  /* ícones menu hamburguer */
  .mobile-menu ul li a i,
  .mobile-menu ul li a svg {
      color: var(--color-base-400);
      transition: .3s ease;
  }

  /* hover. svg -para pacote de icons funcionar */
  .mobile-menu ul li a:hover {
      color: var(--color-text-purewhite);
  }

  .mobile-menu ul li a:hover i,
  .mobile-menu ul li a:hover svg {
      color: var(--color-base-300);
  }

  /* overlay auxiliar do menu -sombra ao abrir o menu*/

  .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background: rgba(0, 0, 0, 0.5);
      opacity: 0;
      visibility: hidden;
      transition: .3s;
      z-index: 9998;
  }

  .overlay.active {
      opacity: 1;
      visibility: visible;
  }

  /* efeito do header */
  header.scrolled {
      box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
  }

  /* Ajustando resposividade de menu mobile*/
  @media(max-width: 950px) {

      .menu-desktop,
      .search-area {
          display: none;
      }

      .menu-toggle {
          display: block;
      }

      .container-header {
          padding: 10px 20px;
      }

      .logo img {
          width: 95px;
      }
  }

  /* ===========================================
                Banner
=========================================== */

  .banner {
      position: relative;

      width: 100%;
      height: 600px;

      /* gradiente de cores para tirar o destaque da imagem e focar no titulo */
      background-image:
          linear-gradient(to right,
              rgba(245, 238, 230, 0.35) 60%,
              rgba(245, 238, 230, 0.05) 100%),
          url(../assets/images/backgroung-banner-home.png);
      /* ajustando imagem */
      background-size: cover;
      background-position: center right;
      display: flex;
      align-items: center;
      padding: 0 8%;
  }

  /* ===========================================
                topbar abanner
=========================================== */

  .banner-topbar {
      width: 100%;
      position: absolute;
      top: 105px;
      left: 0;
      z-index: 3;
  }

  .banner-topbar-content {
      max-width: 1400px;
      margin: auto;
      padding: 0 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 18px;
      flex-wrap: wrap;
  }

  .banner-topbar-content span {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 14px;
      font-weight: 500;
      color: var(--color-text-topBar);
      white-space: nowrap;
  }

  .banner-topbar-content i {
      color: var(--color-base-600);
      font-size: 13px;
  }

  .separator {
      color: rgba(0, 0, 0, 0.25);
  }

  /* ===========================================
        topBarMobile com animação
=========================================== */

  @media(max-width: 950px) {

      .banner-topbar {
          overflow: hidden;
      }

      .banner-topbar-content {
          width: max-content;
          flex-wrap: nowrap;
          padding: 0 25px;

          animation: topbarScroll 22s linear infinite;
      }

      .banner-topbar-content span {
          font-size: 13px;
      }

  }

  /* ===========================================
               banner
=========================================== */

  .banner-content {
      max-width: 600px;
      padding-top: 140px;
  }

  .banner-content h1 {
      font-size: 52px;
      line-height: 1.1;
      color: var(--color-text-primary);
      font-weight: 400;
      margin-bottom: 25px;
  }

  .banner-content p {
      font-size: 18px;
      line-height: 1.7;
      color: var(--color-text-topBar);
      margin-bottom: 35px;
  }

  #span-gold-banner {
      color: var(--color-base-400);
  }

  /* ===========================================
                button banner 'AGENDAR'
=========================================== */

  .btn-banner {
      display: inline-flex;
      align-items: center;
      gap: 10px;
      padding: 14px 28px;
      background: var(--color-base-800);
      color: var(--color-text-white);
      text-decoration: none;
      border-radius: 40px;
      font-size: 15px;
      font-weight: 500;
      transition: .3s ease;
  }

  .btn-banner i {
      color: var(--color-base-400);
  }

  .btn-banner:hover {
      background: var(--color-base-801);
  }

  /* ===========================================
                RESPONSIVO
=========================================== */

  @media(max-width: 950px) {
      .banner {
          height: auto;
          padding: 140px 25px 90px;
          background-position: 72%;
      }
         
       .banner-content h1 {
      font-size: 36px;
      line-height: 1.1;
      color: var(--color-text-primary);
      font-weight: 400;
      margin-bottom: 25px;
  }
}

  /* ===========================================
            Section Introduction
=========================================== */

  .section-introduction {
      background: var(--color-primary-dark);
      padding: 90px 0;
  }

  /*  card */
  .introduction-content {
      text-align: center;
      padding: 40px 30px;
      height: 100%;
      border-radius: 24px;
      background: rgba(255, 255, 255, 0.08);

  }

  /* icons*/
  .introduction-content i {
      font-size: 38px;
      color: var(--color-primary-lightPink);
      margin-bottom: 22px;
  }

  /* h3 card*/
  .introduction-content h3 {
      color: var(--color-text-white);
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 18px;
  }

  /* p card */
  .introduction-content p {
      color: rgba(255, 255, 255, 0.88);
      font-size: 16px;
      line-height: 1.8;
      margin: 0;
  }

  /* Deixando cards menores no mobile */
  @media(max-width: 950px) {
      .section-introduction {
          padding: 70px 25px;
      }

      .section-introduction .container {
          padding: 0;
      }

      .introduction-content {
          padding: 35px 25px;
      }

      .introduction-content h3 {
          font-size: 24px;
      }

      .introduction-content p {
          font-size: 15px;
      }
  }

  /* ===========================================
            Section Beauty
=========================================== */

  .section-beauty {
      padding: 80px 0;
      background-image:
          url(../assets/images/Background-serviços.jpg);
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
  }

  /* IMg */
  .section-beauty img {
      width: 100%;
      height: 340px;
      object-fit: cover;
      border-radius: 24px;
      box-shadow: 0 15px 40px rgba(0, 0, 0, 0.10);
  }

  /* Coluna do texto */
  .beauty-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 50px;
  }

  /* Titulo h2 Beauty */
  .section-beauty h2 {
      font-size: 36px;
      color: var(--color-base-400);
      margin-bottom: 18px;
      font-weight: 500;
  }

  /* SUBTÍTULO h3 beauty */
  .section-beauty h3 {
      font-size: 20px;
      color: var(--color-text-primary);
      margin-bottom: 24px;
  }

  /* paragrafo beauty */
  .section-beauty p {
      font-size: 16px;
      line-height: 2;
      color: var(--color-text-primary);
      margin: 0;
  }

  /* ===========================================
                RESPONSIVO beauty
=========================================== */

  @media(max-width: 950px) {
      .section-beauty {
          padding: 80px 25px;
          background-attachment: scroll;
      }

      .section-beauty .row {
          gap: 45px;
      }

      .beauty-content {
          padding-left: 0;
          text-align: center;
      }

      .section-beauty img {
          height: 320px;
      }

      .section-beauty h2 {
          font-size: 32px;
      }

      .section-beauty h3 {
          font-size: 19px;
      }
  }

  /* ===========================================
                Responsividade section beauty
=========================================== */
  @media(max-width: 950px) {

      .section-beauty {
          padding: 80px 25px;

          background-attachment: initial;
      }

      .beauty-text {
          padding-left: 0;

          margin-top: 45px;

          text-align: center;
      }

      .beauty-image {
          height: 420px;
      }

      .beauty-text h2 {
          font-size: 32px;
      }

      .beauty-text h3 {
          font-size: 19px;
      }

  }

  /* ===========================================
                CAROUSEL
=========================================== */

  .Caroussel-content {
      padding: 80px 0;
      background-color: var(--color-background-tertiary);
      display: flex;
      justify-content: center;
  }

  /* tamanhodocarrossel */
  #carouselExampleRide {
      width: 100%;
      max-width: 1000px;
      height: 400px;
      border-radius: 24px;
      overflow: hidden;
      box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
  }

  /* tamanho imagens */
  #carouselExampleRide .carousel-item img {
      width: 100%;
      height: 400px;
      object-fit: cover;
  }

  /* Botões */
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
      filter: brightness(0) invert(1);
  }

  /* RESPONSIVO do carrossel */
  @media(max-width: 950px) {
      .Caroussel-content {
          padding: 60px 20px;
      }

      #carouselExampleRide {
          height: 300px;
          border-radius: 22px;
      }

      #carouselExampleRide .carousel-item img {
          height: 300px;
      }
  }

  /* =============================
    CARDS .cards-destaque
=========================== */
  .cards-destaque {
      background: var(--color-background-dark);
      padding: 80px 0;
  }

  /* h2s dos cards */
  .cards-destaque h2 {
      font-size: 36px;
      color: var(--color-text-white);
      margin-bottom: 14px;
  }

  .subtitulo-destaque {
      font-size: 20px;
      color: var(--color-text-white);
      margin-bottom: 0;
  }

  /* card  */

  .cards-destaque .card {
      width: 263px;
      min-height: 369px;
      background: var(--color-background-tertiary);
      border: none;
      border-radius: 16px;
      overflow: hidden;
      padding: 8px;

  }

  /* imagem card */
  .img-card-servico {
      width: 100%;
      height: 170px;
      object-fit: cover;
      border-radius: 8px;
  }

  /* conteudo do card */
  .cards-destaque .card-body {
      padding: 18px 10px 10px;
  }

  .cards-destaque .card-title {
      font-size: 18px;
      color: var(--color-text-primary);
      margin-bottom: 10px;
  }

  .cards-destaque .card-text {
      font-size: 14px;
      line-height: 1.6;
      color: var(--color-text-primary);
      margin-bottom: 22px;
  }

  .preco-servico {
      font-size: 18px;
      font-weight: 500;
      color: var(--color-base-700);
  }

  /* botão do card */
  .cards-destaque .btn-dark {
      background: var(--color-base-800);
      border: none;
      font-size: 13px;
      padding: 8px 16px;

  }
/* hover botão card */
  .cards-destaque .btn-dark:hover {
      background: var(--color-base-801);
  }
  .carousel-control-prev,
.carousel-control-next{
    width: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon{
    filter: invert(1);
}
  /* ==========================================
            AVALIAÇÕES
========================================== */
  .section-avaliacoes {
      padding: 100px 0;
      background: #F5EFE6;
      background-image: url("../assets/images/background-avaliações.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
  }

  /* h2 avaliações */
  .section-avaliacoes h2 {
      font-size: 36px;
      color: var(--color-text-primary);
      margin-bottom: 15px;
  }

  .section-avaliacoes>.container>.text-center p {
      max-width: 700px;
      margin: auto;
      color: var(--color-text-primary);
  }

  /* /* ROW avaliações */
  .row-avaliacoes {
      background-color: var(--color-background-tertiary);
      padding: 40px;
      display: flex;

  }

  .container-avaliacoes {
      background: var(--color-background-tertiary);
      border-radius: 24px;
      overflow: hidden;
  }

  .card-avaliacao {
      background: var(--color-text-white);
      border-radius: 20px;
      padding: 35px 25px;
      text-align: center;
      box-shadow: 0 8px 25px rgba(0, 0, 0, .08);
      height: 100%;
  }

  .card-avaliacao img {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      object-fit: cover;
      margin-bottom: 18px;
  }
/* nomes das pessoas */
  .card-avaliacao h3 {
      font-size: 16px;
      color: var(--color-text-dark);
      margin-bottom: 4px;
  }

  .estrelas {
      margin-bottom: 18px;
  }

  .estrelas i {
      color: var(--color-base-400);
      font-size: 14px;
      margin: 0 2px;
  }

  /* paragrafo avaliação */
  .card-avaliacao p {
      font-size: 16px;
      line-height: 1.8;
      color: var(--color-text-primary);
      margin: 0;
  }

  /* versão mobile avaliações */

  @media(max-width:768px) {

      .container-avaliacoes {
          overflow-x: auto;
      }

      .row-avaliacoes {
          flex-wrap: nowrap;
      }

  }

  /* ==========================================
          section de contato
========================================== */

  .section-contato {
      padding: 100px 0;
      background: var(--color-background-secondary);
  }
  .contato-info h2 {
      font-size: 36px;
      color: var(--color-text-primary);
      margin-bottom: 20px;
      line-height: 1.2;
  }

  .contato-info h2 span {
      color: #BE9A65;
  }

  .descricao {
      font-size: 16px;
      line-height: 1.8;
      color: #4A3F35;
      margin-bottom: 30px;
  }

 /* informações de contato */
  .lista-contato {
      list-style: none;
      padding: 0;
      margin-bottom: 35px;
  }

  .lista-contato li {
      display: flex;
      align-items: center;
      gap: 12px;
      margin-bottom: 15px;
      color: #4A3F35;
      font-size: 16px;
  }

  .lista-contato i {
      color: #BE9A65;
  }

  .horarios h3 {
      font-size: 20px;
      color: #2A2220;
      margin-bottom: 15px;
  }

  .horarios p {
      margin-bottom: 8px;
      color: #4A3F35;
  }

 /* mapa da clínica endereco */
  .mapa-container {
      border-radius: 24px;
      overflow: hidden;
      box-shadow: 0 10px 30px rgba(0, 0, 0, .08);
  }

  .mapa-container iframe {
      width: 100%;
      height: 450px;
      border: none;
      display: block;
  }

  /* MOBILE do contato*/
  @media(max-width:768px) {

      .section-contato {
          padding: 80px 20px;
      }

      .contato-info {
          text-align: center;
      }

      .lista-contato li {
          justify-content: center;
      }

      .mapa-container iframe {
          height: 320px;
      }
  }

  /* FOOTER CLINICAAAA */
  .footer-clinica {
      background: var(--color-base-800);
      padding: 90px 0;
  }

  .footer-titulo {
      color: var(--color-base-500);
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 30px;
  }

  .footer-lista {
      color: var(--color-text-white);
      padding-left: 18px;
  }

  .footer-lista li {
      margin-bottom: 12px;
      line-height: 1.6;
      list-style: none;
  }

  .footer-links {
      list-style: none;
      padding-left: 0;
  }

  .footer-links a {
      color: var(--color-text-white);
      text-decoration: none;
      transition: .3s;
  }

  .footer-links a:hover {
      color: var(--color-base-500);
  }

  .footer-redes a {
      color: var(--color-text-white);
      font-size: 38px;
      transition: .3s;
  }

  .footer-redes a:hover {
      color: var(--color-base-500);
  }

  .footer-divisor {
      margin: 70px 0;
      border-color: rgba(255, 255, 255, .25);
  }

  .footer-logo {
      max-width: 110px;
  }

  .footer-texto {
      color: var(--color-text-white);
      line-height: 1.7;
  }
/* configurações para versão mobile */
  @media (max-width: 768px) {

      .footer-clinica {
          text-align: center;
      }

      .footer-lista {
          list-style: none;
          padding-left: 0;
      }

      .footer-titulo {
          margin-bottom: 15px;
      }

      .footer-divisor {
          margin: 40px 0;
      }

      .footer-logo {
          max-width: 90px;
      }
  }
  /* ===========================================
                Animação do topBar sérvio
=========================================== */
  @keyframes topbarScroll {

      from {
          transform: translateX(0);
      }

      to {
          transform: translateX(-50%);
      }

  }