/* Coisas do site inteiro: */
/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@300;400;500;600;700&family=Julius+Sans+One&family=Inter:wght@400;500&display=swap');
 @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css');

/* 1. Tokens */
@import 'variables.css';

/* 2. Reset e Global */
@import 'reset.css';
@import 'global.css';

/* 3. Layout */

/* 4. Componentes */
@import 'components/header.css';
@import 'components/footer.css';
@import 'components/topbar.css';
@import 'components/button.css';
@import 'components/banner.css';
@import'components/section-contato.css';
@import 'components/carrossel.css';
@import 'components/modal-servicos.css';
@import 'components/cards-servicos.css';

/* Páginas */
@import 'pages/servicos.css';
@import 'pages/home.css';
@import 'pages/agendamento.css';
@import 'pages/clinica.css';
@import 'pages/tipoServico.css';



/* Esconde a barra superior do Google Tradutor */
.goog-te-banner-frame.skiptranslate {
    display: none !important;
}

body {
    top: 0 !important;
}

.skiptranslate {
    display: none !important;
}

.goog-te-gadget {
    display: none !important;
}